@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Input type=&quot;checkbox&quot;</h1>
	<p class="lead">Microsoft's input type=checkbox HTML Helper compensates for a very bad developer practice. Let's demonstrate it.</p>
	<ol>
		<li><a href="/One">The way we start off</a></li>
		<li><a href="/Two">A careful developer makes this common mistake</a></li>
		<li><a href="/Three">We compensate for this common mistake without fixing the developer</a></li>
		<li><a href="/Four">We compensate for this mistake by not making the mistake</a></li>
	</ol>
</div>
